/* Events */

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


.events {
  width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #303030;
}

.eventsImage {
  display: none;
}

.events h3 {
    padding-top:1rem;
}

.event a {
  text-decoration: none;
  color: inherit;
}

.fullEvent {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10vh 0;
}

.fullEvent h2 {
  text-align: center;
}

.fullEvent p {
  width: 90%;
  padding: 2rem 0;
}

.fullEvent i {
  padding-right:0.2rem;
}

@media screen and (min-width: 768px) {
  .events {
    width: 80vw;
  }
}

@media screen and (min-width: 1268px) {
  .events {
    justify-content: space-evenly;
  }

  .eventsImage {
    display: unset;
    max-width: 400px;
    max-height: 600px;
    border-radius: 24px;
    filter: drop-shadow(0.25rem 0.25rem 0.25rem #7a7a7a);
  }

  .fullEvent {
    width:70vw;
  }

  /* Event Item */

  .event {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  .event p {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1768px) {
  .eventsImage {
    max-width: 500px;
    max-height: 700px;
  }

  .fullEvent {
    width:50vw;
  }

  .eventsHeader {
    align-items: top;
    justify-content: space-between;
  }
}
