/* Events */

.events {
    min-height:100vh;
    text-align: center;
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-around;
}

.events img {
    display:none;
}


.event a {
    text-decoration: none;
    color:inherit;
}


@media screen and (min-width: 768px) {
    
}


@media screen and (min-width: 1268px) {    

.events img {
    display:unset;
    max-width:400px;
    max-height:600px;
    border-radius: 24px;
}

.events h1 {
    padding-bottom:4rem;
}

/* Event Item */

.event {
    display:flex; 
    flex-direction: column;
} 

.event h3 {
    padding-top:1rem;
}

.event p {
    font-size:2rem;
}
}


@media screen and (min-width: 1768px) {
   .events {
    padding:0 10rem;
   }

   .events img {
    max-width:600px;
    max-height:800px;
   }

   .fullEvent {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
   }
}