/* Mobile */

.nav {
    position:absolute;
    left:0;
    right:0; 
    height:10vh;
    background:rgba(29, 61, 96, o) ;
    text-align: center;
    width:100vw;
    padding-top:1rem;
    color:rgb(48, 48, 48);

}

.nav ul {
    display:none;
    opacity: unset;
    font-weight: bold;
}

.nav button {
    background-color: white;
    border: 0.1rem black solid;
    border-radius: 4px;
    padding:0.5rem 1rem;
}

.nav button:hover {
    cursor: pointer;
}

@media screen and (min-width: 768px) {

    .nav button {
        display:none;

    }

    .nav ul {
        display:unset;
    }

    .nav ul {
        list-style-type: none;
    }    

    .nav ul li {
        display:inline;
        font-size:1.5rem;
        padding:0.5rem;
    }

    .nav a {
        text-decoration: none;
        color:inherit;
    }
}

@media screen and (min-width: 1268px ) {

}

@media screen and (min-width: 1768px) { 


}